<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578289339512-pbi1tbcmurbpf6am33nkd4ulvko8v9ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578289339512-pbi1tbcmurbpf6am33nkd4ulvko8v9ee</string>
	<key>API_KEY</key>
	<string>AIzaSyBDJipH10Ecm9LRkSp8cfL6alL1SbFRVnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>578289339512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sibiruDriver.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>esp32-firebase-demo-f2551</string>
	<key>STORAGE_BUCKET</key>
	<string>esp32-firebase-demo-f2551.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578289339512:ios:dd7f519bf79d1eea1ff18d</string>
	<key>DATABASE_URL</key>
	<string>https://esp32-firebase-demo-f2551-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>